<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body>
      <hi>私の名前は阿部靖真です。<h1>
        
      <% require 'pg' %>

      <% connection = PG::connect(dbname: "goya") %>
      <% connection.internal_encoding = "UTF-8" %>  
    
      <% result = connection.exec("select * from crops where not(give_for = '自家消費');") %>
      <% date = [] %>
      <% quality = connection.exec("select * from crops where quality=false;") %>
      <% date2 = [] %>
      

      <% result.each do |record| %>
        <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
      <% end %>
      
      <% quality.each do |record| %>
        <%  date2 << "ゴーヤの大きさ：#{record["weight"]}　ゴーヤの質：#{record["quality"]} 売った相手：#{record["give_for"]}" %>
      <% end %>
      
    <form action="not_jikasyouhi.cgi" method="POST">
    下記のボタンを押すと、ゴーヤの譲渡先が自家消費ではないものの情報ページに飛びます<br><br>
    <input type="text" name="goya_get_for" value="<%= date.join(' ') %>">
    <input type="submit" name="送信" >
    </form>
    <form action="not_quality.cgi" method="POST">
    下記のボタンを押すと、ゴーヤの品質が悪いもの情報ページに飛びます<br><br>
    <input type="text" name="goya_quality" value="<%= date2.join(' ') %>">
    <input type="submit" name="送信" >
    </form>
    </body>
  </head>
</html>